@import "tailwindcss";
@font-face {
      font-family: Aeonic;
      src: url(/fonts/aeonic.woff2);
}
@font-face {
      font-family: Editorial;
      src: url(/fonts/editorial.woff2);
}
@font-face {
      font-family: Emirtus;
      src: url(/fonts/emirtus.woff2);
}
@font-face {
      font-family: Alliance;
      src: url(/fonts/alliance.woff2);
}
@font-face {
      font-family: cool;
      src: url(/fonts/cool.otf);
}
@font-face {
      font-family: ppneue;
      src: url(/fonts/ppneue.woff2);
}
@theme {
      --color-wht: #ffff;
      --color-bl: oklch(0.25 0.01 85);
      --font-primary-text: Aeonic;
      --font-secondary-text: Editorial;
      --font-feeling-logo: Emirtus;
      --font-alliance: Alliance;
      --font-ppneue: ppneue;
      --font-cool: cool;
}

/* oklch(0.98 0.005 85);
Seashell - FFF5EE

⚪️ White Heat - FDF9EF

⚪️ Spatial White - DEDDDB

⚪️ Antique white - FAEBD7

⚪️ Pacific Pearl - E8EAE6 */

/* === Toolbar styling === */
.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary {
      background-color: #ffff !important;
      background-image: none !important;
}

/* Icon & button color overrides */
.tox .tox-tbtn svg,
.tox .tox-icon svg,
.tox .tox-button--icon {
      fill: var(--color-bl) !important;
      color: var(--color-bl) !important;
      background-color: var(--color-wht) !important;
}

/* === Menu bar styling === */
.tox .tox-menubar {
      background-color: #ffff !important;
      background-image: none !important;
}
.tox .tox-menubar .tox-menubar__item {
      color: #333 !important;
}
.tox .tox-menubar .tox-menubar__item:hover,
.tox .tox-menubar .tox-menubar__item.tox-menubar__item--active {
      background-color: #e8e6e5 !important;
      color: #000 !important;
}

/* === Status bar styling === */
.tox .tox-statusbar {
      background-color: #ffff !important;
      background-image: none !important;
      color: #333 !important;
}
.tox .tox-statusbar__path,
.tox .tox-statusbar__wordcount,
.tox .tox-statusbar__branding {
      color: #333 !important;
}
.tox .tox-statusbar *:hover {
      color: #000 !important;
}

/* === Editor container (outer) no border or outline === */
.tox,
.tox .tox-toolbar,
.tox .tox-menubar,
.tox .tox-statusbar {
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
}
